<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
      <h1>About Us</h1><br>

       <div>
           <p>When you need a little bit of everything, Shopright is the way to go. Taking out the tediousness behind shopping and bringing back the fun is our goal. There's an art to shopping and we like to consider ourselves something of a pro at it.So lets go on this experience together. Founded from the desert of Phoenix, expereince shopping like never before</p><br>
       </div>
        <a href="/">back</a>
  </body>
</html>
