<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>

  <body>
  
  <h1><%= users.name%>'s wish list</h1>

  <h3>You do not have any items in your wish list!</h3>







  </body>
</html>