<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help</title>
  </head>
  <body>
    <h1>Help Topics</h1><br>
        <p><a href="#">where's my stuff</a></p>
        <p><<a href="#">I have a question that is not listed on the FAQ. What should i do?</a>/p>
        <p><a href="#">returns and refunds</a></p>
        <p><a href="#">cancellig and updating items</a></p>
        <p><a href="#">I am having issues with adding or updating items</a></p>
        <p><a href="#">how do i register for an account at Shopright</a></p>
        <p><a href="#">do i need to register in order tos shop</a></p>
  </body>
</html>
