<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>

  <body>

  <a href="/">Login</a>

    <h1>Website Title</h1>

    <div>
        <h2>Here will display imgs of product</h2>
    </div>

    <div>
    <a href="/">About</a>
    <a href="/">Help</a>
    </div>
<footer>&copy; Copyright 2019 Ed & Jun</footer>
  </body>
</html>