<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <style>
   .alert {
     text-align:center;

  }
</style>
    </head>

  <body>


  <div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done! <%=users.name%></h4>
  <p>Here are the sellers information!!</p>

</div>
  </body>
</html>