<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    <h1><%=item_name%></h1><br>

       <p>Description:<%=description%></p>
       <p>rating:<%=rating%></p>
       <p>comment:<%=comments_content%></p>

   <div>
       <button type="button" class="btn-sm">Add</button>
    </div>
    <div>
       <button type="button" class="btn-sm">edit</button>
    </div>
        <i class="fas fa-cart-plus"></i>
  </body>
</html>
